{% extends 'base.html.twig' %}

{% block title %}Facture à générer{% endblock %}

{% block body %}
    <main>
        <div>
            <h1>Facture</h1>
            {{ include('partials/flash.html.twig') }}
            <div class="div-form-flex">
                {{ form_start(formFacture) }}
                    {% for field in formFacture %}
                        {%  if form_label(field) != '<label for="facture__token">Token</label>' %}
                        <div >
                            {{ form_label(field) }}
                            {{ form_widget(field) }}
                        </div>
                        {% endif %} 
                    {% endfor %}
                {{ form_end(formFacture) }}

            </div>
        </div>  
        <div >
            <div>
                <h2>Freelance: </h2>
                <ul>

                </ul>
            </div>
            <div>
                <h2>Client: </h2>
                <ul>
                    {% for client in clients %}
                    <li>Nom de l'entreprise: <b>{{client.nomSociete}}</b></li>
                    <li>Adresse: <b>{{client.adresse}}</b></li>
                    <li>Téléphone: <b>{{client.telephone}}</b></li>
                    <li>Email: <b>{{client.email}}</b></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Description de la tâche</th>
                        <th>Prix H.T</th>
                        <th>Prix T.T.C</th>
                    </tr>
                    {% for tache in taches %}
                    <tr>
                        <td>{{tache.description}}</td>
                        <td>{{tache.prixHT}}</td>
                        <td>{{tache.prixTTC}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                       <td><i class="fa-solid fa-plus"></i></td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
