{% extends 'base.html.twig' %}

{% block title %}Facture à générer
{% endblock %}

{% block body %}
	<main>
		<div>
			<h1 class="text-4xl">Facture</h1>
			{{ include('partials/flash.html.twig') }}
			<div>
				{{ form_start(formFacture) }}
				{% for field in formFacture %}
					{%  if form_label(field) != '<label for="facture__token">Token</label>' %}
						<div>
							{{ form_label(field) }}
							{{ form_widget(field) }}
						</div>
					{% endif %}
				{% endfor %}
				{{ form_end(formFacture) }}
			</div>
		</div>

		<div class="flex justify-around items-center my-6">
			<div>
				<h2 class="text-lg">Freelance:
				</h2>
				<ul>
					<li>Nom de l'entreprise:
						<b id="nomSociete_entreprise"></b>
					</li>
					<li>Adresse:
						<b id="adresse_entreprise"></b>
					</li>
					<li>Téléphone:
						<b id="telephone_entreprise"></b>
					</li>
					<li>Email:
						<b id="email_entreprise"></b>
					</li>
					<li>Siren:
						<b id="siren_entreprise"></b>
					</li>
				</ul>
                <div class="grid my-4 gap-4">
					<a href="{{ path('entreprise.create') }}" class="text-center relative text-white px-4 py-2 cursor-pointer opacity-70 hover:opacity-100 transition-opacity p-[2px] bg-black rounded-[16px] bg-gradient-to-t from-[#00dd00] to-[#006600] active:scale-95">Ajouter une entreprise</a>
					<a href="#" id="edit_entreprise" class="relative text-center text-white px-4 py-2 cursor-pointer opacity-70 hover:opacity-100 transition-opacity p-[2px] bg-black rounded-[16px] bg-gradient-to-t from-[#0000ff] to-[#0000aa] active:scale-95">Éditer</a>
					<form class="text-center relative text-center text-white px-4 py-2 cursor-pointer opacity-70 hover:opacity-100 transition-opacity p-[2px] bg-black rounded-[16px] bg-gradient-to-t from-[#ff0000] to-[#aa0000] active:scale-95" action="" method="POST" name="delete_entreprise">
						<input type="hidden" name="_method" value="DELETE">
						<button type="submit" class="">Supprimer</button>
					</form>
				</div>
			</div>
			<div>
				<h2 class="text-lg">Client:
				</h2>
				<ul>
					<li>Nom de l'entreprise:
						<b id="nomSociete_client"></b>
					</li>
					<li>Adresse:
						<b id="adresse_client"></b>
					</li>
					<li>Téléphone:
						<b id="telephone_client"></b>
					</li>
					<li>Email:
						<b id="email_client"></b>
					</li>
				</ul>
				<div class="grid my-4 gap-4">
					<a href="{{ path('client.create') }}" class="text-center relative text-white px-4 py-2 cursor-pointer opacity-70 hover:opacity-100 transition-opacity p-[2px] bg-black rounded-[16px] bg-gradient-to-t from-[#00dd00] to-[#006600] active:scale-95">Ajouter un client</a>
					<a href="#" id="edit_client" class="relative text-center text-white px-4 py-2 cursor-pointer opacity-70 hover:opacity-100 transition-opacity p-[2px] bg-black rounded-[16px] bg-gradient-to-t from-[#0000ff] to-[#0000aa] active:scale-95">Éditer</a>
					<form class="text-center relative text-center text-white px-4 py-2 cursor-pointer opacity-70 hover:opacity-100 transition-opacity p-[2px] bg-black rounded-[16px] bg-gradient-to-t from-[#ff0000] to-[#aa0000] active:scale-95" action="" method="POST" name="delete_client">
						<input type="hidden" name="_method" value="DELETE">
						<button type="submit" class="  ">Supprimer</button>
					</form>
				</div>
			</div>
		</div>
		<div>
			<table class="w-[60%] border border-2 ml-[20%] mr-[20%]">
				<thead>
					<tr>
						<th>Description de la tâche</th>
						<th>Actions</th>
						<th>Prix H.T</th>
						<th>Prix T.T.C</th>
					</tr>
				</thead>
				<tbody>
					{% for tache in taches %}
						<tr>
							<td>{{tache.description}}</td>
							<td class="flex justify-around">
								<a href="{{ path('task.edit', {id: tache.id}) }}" class="w-[45%] relative text-center text-white px-4 py-2 cursor-pointer opacity-70 hover:opacity-100 transition-opacity p-[2px] bg-black rounded-[16px] bg-gradient-to-t from-[#0000ff] to-[#0000aa] active:scale-95">Éditer</a>
								<form class="w-[45%] text-center relative text-center text-white px-4 py-2 cursor-pointer opacity-70 hover:opacity-100 transition-opacity p-[2px] bg-black rounded-[16px] bg-gradient-to-t from-[#ff0000] to-[#aa0000] active:scale-95" action="{{ path('task.delete', {id: tache.id}) }}" method="POST">
									<input type="hidden" name="_method" value="DELETE">
									<button type="submit" class="  ">Supprimer</button>
								</form>
							</td>
							<td class="text-center">{{tache.prixHT}}</td>
							<td class="text-center">{{tache.prixTTC}}</td>
						</tr>
					{% endfor %}
					<tr>
						<td>
							<a href="{{ path('task.create') }}" class="text-center relative text-white px-4 py-2 cursor-pointer opacity-70 hover:opacity-100 transition-opacity p-[2px] bg-black rounded-[16px] bg-gradient-to-t from-[#00dd00] to-[#006600] active:scale-95">Ajouter</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
{% endblock %}
